# Python

1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [1]:
value=100
prime=[x for x in range(2,100) if all (x%y !=0 for y in range (2,x))]

In [2]:
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

2.Write a function to reverse a string

string='reverse a string'

In [5]:
string=input('write your string ?')
p=string[::-1]

write your string ?reverse a string

In [6]:
print(p)

gnirts a esrever

3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday'

In [107]:
string = input('Enter any string: ')

upper = ''
for char in string:
    #check uppercase characters
    if char.isupper():
        upper += char
        
print('Uppercase words:', upper)

Enter any string: 'Monday', 'tuesday','friday', 'Sunday', 'Saturday'
Uppercase words: MSS

4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [47]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
print(Module)

{'Data Science': 1, 'Machine Learning': 2, 'SQL': 3, 'Big Data': 4}

In [49]:
Module = {value:key for key, value in Module.items()}
print(Module)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [53]:
my_string = 'Data Science'
user = input('Enter string here:')
chars=0
for i in user:
    if i=='':
        continue
    elif i not in my_string:
        chars+=1
        
chars

Enter string here:my_string = 'Data Science'

9

7.Define a function to check whether a number is in a range (1000,10000) or not.

In [65]:
n=int(input('enter your number ?'))

if n>=1000 and n<=10000:
    print('Number in range')
    
else:
    print('Number not in range')

enter your number ?999
Number not in range

8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [50]:
test_score=[10,32,23,14,25]

In [70]:
test_score = [10,32,23,14,25]
print(test_score)

[10, 32, 23, 14, 25]

In [71]:
print("sum of list: ",sum(test_score))

sum of list:  104

9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [81]:
import numpy as np

In [83]:
a = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [86]:
even_values = (a%2 == 0) 
a[even_values] = -1

In [85]:
print(a)

[-1 21 -1 13 -1 45 -1 -1 -1 -1 65 -1 -1]

10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [74]:
import numpy as np

In [75]:
Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [80]:
print("The minimum value from each row is:","\n",np.min(Score, axis=1),"\n")

The minimum value from each row is:
 [210 106 125 240]